* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  align-items: center;
  position: absolute;
}

.index {
  height: 1000px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  background-color: rgba(7, 153, 221, 0.274);
  font-size: 30px;
  padding: 1px;
  margin: 30px;
  position: relative;
}
.top img {
  width: 150px;
  height: 150px;
}
.top a {
  text-decoration: none;
  color: black;
}
.one {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.image img {
  padding: 1cm;
  width: 500px;
  height: 500px;
}
.onetext h1 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 10px;
  color: rgb(7, 4, 4);
  font-size: 100px;
}

.two {
  background-color: black;
}
.wi {
  display: flex;
}

.aboutme h1 {
  font-size: 120px;
  color: gray;
}
.aboutme h1:hover {
  background-color: white;
  width: 11px;
  margin: 100px;
}

.aboutme p {
  position: relative;
  font-size: 25px;
  color: turquoise;
  margin: 50px;
  right: 50px;
}
#abouti {
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 30px;
  margin-right: 100px;
  margin-left: 1px;
  margin-top: 200px;
}

.aboutme a {
  text-decoration: underline;
  font-size: 30px;
}

.aboutme h2 {
  font-size: 30px;
  text-align: center;
}

.aboutme h3 {
  font-size: 30px;
}
.aboutme li {
  font-size: 20px;
  color: white;
}
#linkemail a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 500px 500px;
  color: turquoise;
  margin-top: 50px;
}
#skills {
  font-size: 50px;
  margin-left: 10px;
  color: gray;
}
#skills:hover {
  background-color: white;
  width: 11px;
}
#edu {
  font-size: 50px;
  margin-left: 10px;
  color: gray;
}
#edu:hover {
  background-color: white;
  width: 11px;
}
#lorem {
  font-size: 20px;
  margin: 10px;
  margin-right: 100px;
}
#deg {
  font-size: 20px;
  margin: 10px;
}
.resume {
  width: 210px;
  color: turquoise;
  text-align: center;
  margin: 100px;
  margin-left: 250px;
  font-size: 50px;
}
.resume:hover {
  background-color: white;
  width: 10px;
}
.resume a {
  text-decoration: none;
  color: turquoise;
  text-align: center;
  width: 210px;
  text-align: center;
  font-size: 50px;
}
.contacts {
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contact img {
  height: 40px;
  margin-top: 50px;
}
